.play {
  position: absolute;
  border: none;
  background: rgba(184, 9, 82, 1);
  padding: 15px;
  border-radius: 10px;
  transition: 500ms;
  z-index: 2;
}

.play:hover {
  cursor: pointer;
  padding: 20px;
}
